<h1>Mushroom Mania</h1>




<div class="inputs">
  <input type="text" ng-model="List">


    <label>All Mushrooms</label>
    <input ng-model="searchList" ng-value="{{key}}" type="radio" name="all mushrooms" value="mushrooms" checked>
    <label> Edible</label>
   <input ng-model="searchList" ng-value="{{value.edible = true}}" value="edible" type="radio" name="non-poison">
    <label>Poisonous</label>
    <input ng-model="searchList" ng-value="{{value.edible = false}}" value="poisonous" type="radio" name="poison">

</div>



<ul>
  <div ng-repeat="item in data | filter: searchList | filter: List ">
      <div ng-repeat="(key, value) in item">


        <div class="name">{{key}} : </div>
        <div class="eat">Edible? {{value.edible}}</div>
        <div class="about">About: <br> {{value.description}}</div>
      </div>

   </div>


</ul>
